{% extends 'base.html' %}

{% block content %}
    <div class="post-title">
        <h1>New post</h1>
    </div>
    <div class="spacer"></div>
    <form  class="post-form">
        <div class="line">
            <h>Name:</h>
            <label>
                <input id="id_name_group" maxlength="30" name="name" type="text" value="{{ post.name }}">
            </label>
        </div>

        <div class="line">
            <h> Description:</h>
            <label><textarea cols="40" id="id_description_group" maxlength="620" name="description"
                             rows="10">{{ post.description }}</textarea></label>
        </div>

    </form>
    <button id="update_group" class="save btn btn-default"  onclick="update_object({{post.id }})">Save</button>

{% endblock %}