{% extends 'base.html' %}

{% block title %}
Rooms
{% endblock %}

{% block content %}


      <div class="page-header">
        <h1>Rooms</h1>
      <p>
          <a href="/room/create/" > <button type="button" class="btn btn-sm btn-primary">+ New room</button></a>
      </p>
      </div>
      <div class="row">

        <div class="colon">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Size</th>
              </tr>
            </thead>
            <tbody>
              {% for room in rooms %}

    <tr id="hide_{{ room.id }}" xmlns="http://www.w3.org/1999/html">

        <td>{{ room.id }}</td>
        <td>{{ room.name }}</td>
		<td>{{ room.type }}</td>
		<td>{{ room.description }}</td>
		<td>{{ room.size }}</td>

    <td style="width: 150px">
        <a href="{{room.id }}/edit/" ><button type="button" class="btn btn-sm btn-warning">Edit</button></a>
      <button type="button"
              class="btn btn-danger btn-sm js-delete-book"
              onclick="delete_object({{room.id }})">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>




    </td>
  </tr>

{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No Rooms</td>
  </tr>
{% endfor %}
            </tbody>
          </table>
        </div>
      </div>
     <!-- /container -->

{% endblock %}