{% extends 'base.html' %}

{% block content %}
    <div class="post-title">
    <h1>New post</h1>
        </div>
    <div class="spacer"></div>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="line"><h>NickName:</h>{{ form.username }}</div>
        <div class="line"><h>Name:</h>{{ form.name }}</div>
       <div class="line"><h> Email:</h> {{ form.email }}</div>
        <div class="line"><h>Password:</h>{{ form.password }}</div>
       <div class="line"><h>Group:</h> {{ form.group }}</div>
        <button type="submit" class="save btn btn-default">Save</button>
</form>

{% endblock %}