{% extends 'base.html' %}

{% block content %}
    <div class="post-title">
        <h1>New post</h1>
    </div>
    <div class="spacer"></div>
    <form class="post-form">
        <div class="line">

            <h>Username:</h>
            <label>
                <input id="id_username_user" maxlength="30" name="username" type="text" value="{{ post.username }}" >
            </label>
        </div>
        <div class="line">

            <h>Name:</h>
            <label>
                <input id="id_name_user" maxlength="30" name="name" type="text" value="{{ post.name }}">
            </label>
        </div>
        <div class="line">

            <h>Email:</h>
            <label>
                <input id="id_email_user" maxlength="30" name="email" type="text"value="{{ post.email }}">
            </label>
        </div>
        <div class="line">

            <h>Password:</h>
            <label>
                <input id="id_password_user" maxlength="30" name="password" type="text" value="{{ post.password }}">
            </label>
        </div>

    </form>
    <button id="update_user" class="save btn btn-default" onclick="update_user({{ post.id }})">Save</button>


{% endblock %}