{% extends 'base.html' %}

{% block title %}
Group
{% endblock %}

{% block content %}


      <div class="page-header">
        <h1>Group</h1>
      <p>
          <a href="/user/group/create_group/" > <button type="button" class="btn btn-sm btn-primary">+ New group</button></a>
      </p>
      </div>
      <div class="row">

        <div class="colon">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              {% include 'includes/groups_list.html' %}
            </tbody>
          </table>
        </div>
      </div>
     <!-- /container -->

{% endblock %}