{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Group
{% endblock %}

{% block content %}
<div class="page-header">
        <h1>{{ group.name }}</h1>
      </div>
    <div class="description">
    <img src="{% static 'personal/img/profile.jpg' %}" class="responsive-img"  alt="face">
        <div class="name">
    <div class="panel panel-default">
  <div class="panel-body">
    Basic panel example
  </div>
    </div>
</div>
    <div class="name">
    <div class="panel panel-default">
  <div class="panel-body">
    Basic panel example
  </div>
    </div>
</div>
    </div>
{% endblock %}