{% extends 'base.html' %}

{% block title %}
User
{% endblock %}

{% block content %}


      <div class="page-header">
        <h1>User</h1>
      <p>
          <a href="/user/create/" > <button type="button" class="btn btn-sm btn-primary">+ New user</button></a>
      </p>
      </div>
      <div class="row">

        <div class="colon">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Nickname</th>
                <th>Name</th>
                <th>Group</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              {% include 'includes/users_list.html' %}
            </tbody>
          </table>
        </div>
      </div>
     <!-- /container -->

{% endblock %}