{% extends 'base.html' %}

{% block title %}
Lessons
{% endblock %}

{% block content %}
      <div class="page-header">
        <h1>Lessons</h1>
      <p>
          <a href="/lesson/create/" > <button type="button" class="btn btn-sm btn-primary">+ New lesson</button></a>
      </p>
      </div>
      <div class="row">

        <div class="colon">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Place</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              {% for lesson in lessons %}
    <tr id="hide_{{ lesson.id }}" xmlns="http://www.w3.org/1999/html">
        <td>{{ lesson.id }}</td>
        <td>{{ lesson.name }}</td>
		<td>{{ lesson.place }}</td>
		<td>{{ lesson.description }}</td>
    <td style="width: 150px">
       <a href="{{lesson.id }}/edit/" ><button type="button" class="btn btn-sm btn-warning">Edit</button></a>
       <button type="button"
              class="btn btn-danger btn-sm js-delete-book"
               onclick="delete_lesson({{lesson.id }})">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>




    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No Lessons</td>
  </tr>
{% endfor %}
            </tbody>
          </table>
        </div>
      </div>
     <!-- /container -->

{% endblock %}