<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Welcome to University{% endblock %}</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'src/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/theme.css' %}" rel="stylesheet">

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
    <script src="{% static 'src/js/group.js' %}"></script>
    <script src="{% static 'src/js/lesson.js' %}"></script>
    <script src="{% static 'src/js/room.js' %}"></script>
    <script src="{% static 'src/js/user.js' %}"></script>
    <script src="{% static 'src/js/main.js' %}"></script>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>

</head>

<body>

<!-- Fixed navbar -->
<nav class=" navbar navbar-inverse navbar-fixed-top
    ">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/lesson/">Lesson</a></li>
                <li><a href="/user">User</a></li>
                <li><a href="/group/">Group</a></li>
                <li><a href="/room">Room</a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container theme-showcase" role="main">
    {% block content %}
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Welcome to our website</h1>
            <p> where you'll find a wealth of information in the form of newsletter articles, calculators, and research
                reports.

                We hope your visit will help you understand the opportunities and potential rewards that are available
                when
                you take a proactive approach to your personal financial situation. [Company] created this website to
                help
                you gain a better understanding of the financial concepts behind insurance, investing, retirement,
                estate
                planning, and wealth preservation. Most importantly, we hope you see the value of working with skilled
                professionals to pursue your financial goals. We're here to help educate you about the basic concepts of
                financial planning, to help you learn more about who we are, and to give you fast, easy access to market
                performance and data. We hope you take advantage of this resource and visit us often. Be sure to add our
                site to your list of "favorites" in your Internet browser. We frequently update our information, and we
                wouldn't want you to miss any developments in the area of personal finance.
            </p></div>
        </div>


        <!-- /container -->
    {% endblock %}


</body>
</html>
