{% extends 'base.html' %}

{% block content %}
    <div class="post-title">
        <h1>New post</h1>
    </div>
    <div class="spacer"></div>
    <form class="post-form">
        <div class="line">

            <h>Name:</h>
            <label>
                <input id="id_name_room" maxlength="30" name="name" type="text" value="{{ post.name }}">
            </label>
        </div>
        <div class="line">

            <h>Type:</h>
            <label>
                <input id="id_type_room" maxlength="30" name="type" type="text" value="{{ post.type }}">
            </label>
        </div>
        <div class="line">
            <h> Description:</h>
            <label><textarea cols="40" id="id_description_room" maxlength="620" name="description"
                             rows="10">{{ post.description }}</textarea></label>
        </div>
        <div class="line">

            <h>Size:</h>
            <label>
                <input id="id_size_room" maxlength="30" name="size" type="text" value="{{ post.size }}">
            </label>
        </div>

    </form>
    <button id="update_room" class="save btn btn-default" onclick="update_room({{ post.id }})">Save</button>

{% endblock %}