
{% for lesson in lessons %}
    <tr xmlns="http://www.w3.org/1999/html">
        <td>{{ lesson.id }}</td>
        <td>{{ lesson.name }}</td>
		<td>{{ lesson.place }}</td>
		<td>{{ lesson.description }}</td>
		<td>{{ lesson.time }}</td>
        <td>{{ lesson.timeout }}</td>
    <td style="width: 150px">
       <a href="lesson/{{lesson.id }}/edit/" ><button type="button" class="btn btn-sm btn-warning">Edit</button></a>
       <a href="lesson/{{lesson.id }}/delete/" ><button type="button"
              class="btn btn-danger btn-sm js-delete-book">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button></a>




    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No Rooms</td>
  </tr>
{% endfor %}